# DATABASE CONFIGURATION (for import scripts & backend)
DB_HOST=localhost          # PostgreSQL host
DB_PORT=5432              # PostgreSQL port
DB_NAME=vidhelp_db           # Database name
DB_USER=postgres             # Database username
DB_PASSWORD=    # Database password of ur postgres user
GOOGLE_CREDENTIALS=./credentials/google-service-account.json
# APPLICATION CONFIGURATION
NODE_ENV=development      # Development environment
PORT=3000                 # Backend API port
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=